CeyGlass.Web/Service References/SupplierServiceReference/SupplierService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61575/SupplierService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CeyGlass.DataTransfer.Requests" />
  <xs:import schemaLocation="http://localhost:61575/SupplierService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CeyGlass.DataTransfer.Responses" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CeyGlass.DataTransfer.Requests" minOccurs="0" name="request" nillable="true" type="q1:SignInRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CeyGlass.DataTransfer.Responses" minOccurs="0" name="SignInResult" nillable="true" type="q2:SignInResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>